<p style="color: green"><%= notice %></p>

<h1>Lista de Tarefas</h1>

<div id="tasks">
  <% @tasks.each do |task| %>
    <%= render task %>
    <p>
      <%= link_to "Mostrar Esta Tarefa", task %>
    </p>
  <% end %>
</div>

<%= link_to "Nova Tarefa", new_task_path %>
